body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  color: white;
}

img {
  width: 100%;
}

header {
  position: relative;
  display: flex;
}
header h1 {
  position: absolute;
  width: 41%;
  left: 30%;
  top: 8%;
}

.image-reason {
  grid-area: image-reason;
}

.title-reason {
  grid-area: title-reason;
}

.p-reason {
  grid-area: p-reason;
}

#reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5%;
  padding: 0% 5%;
  background-color: #c7e2f2;
}
#reasons .reason {
  padding: 2%;
  margin: 2%;
}
#reasons .reason .image-reason {
  width: 50%;
  margin: auto;
}
#reasons .reason .title-reason {
  text-align: center;
  text-transform: uppercase;
}
#reasons .reason .p-reason {
  text-align: justify;
}

#blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.3em;
}
#blog .article {
  padding: 4%;
}
#blog .article h2 {
  text-align: right;
  line-height: 90%;
}
#blog .article h2 .big-text {
  font-size: 1.5em;
}
#blog .article p {
  text-align: justify;
}
#blog .article.id1 {
  background-color: #9bdcff;
}
#blog .article.id2 {
  background-color: #68caff;
}
#blog .article.id3 {
  background-color: #1bb0ff;
}
#blog .article.id4 {
  background-color: #0086ce;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide_img img {
  width: 100%;
  height: 100%;
}

#id1, #id2, #id3 {
  display: none;
}

.pre, .nxt {
  width: 20%;
  height: 40%;
  margin-top: 12%;
  position: absolute;
  top: 0;
  z-index: 99;
  cursor: pointer;
}

.pre {
  left: 0;
  background-image: url(images/back-64.png);
  background-repeat: no-repeat;
  background-position: center;
}

.nxt {
  right: 0;
  background-image: url(images/next-64.png);
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  width: 100%;
  height: 11px;
  bottom: 10%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
}

#id1:checked ~ #one,
#id2:checked ~ #two,
#id3:checked ~ #three {
  z-index: 9;
}

#id1:checked ~ .nav #dot1,
#id2:checked ~ .nav #dot2,
#id3:checked ~ .nav #dot3 {
  background: #b4e5ff;
}

#newsletter {
  background-color: #b2d7ed;
  overflow: hidden;
}
#newsletter form {
  text-align: center;
  padding-bottom: 2%;
}
#newsletter form .input-bouton {
  background-color: #005481;
  color: white;
  padding: 1%;
  border-radius: 10%;
  margin-left: 2%;
}
#newsletter form .input-email {
  width: 30%;
  height: 30px;
  box-shadow: none;
}

footer {
  text-align: center;
  background-color: #86b9d7;
  padding: 1%;
}

@media screen and (max-width: 992px) {
  #reasons {
    grid-template-columns: 1fr;
  }
  #reasons .reason {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5%;
    grid-template-areas: "image-reason title-reason" "image-reason p-reason";
  }
  #reasons .reason .image-reason {
    width: 100%;
  }
  #reasons .reason .title-reason {
    text-align: left;
  }

  #blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  #reasons {
    grid-template-columns: 1fr;
  }
  #reasons .reason {
    display: block;
  }
  #reasons .reason .image-reason {
    width: 60%;
  }

  #blog {
    display: grid;
    grid-template-columns: 1fr;
  }
}


